@tailwind base;
@tailwind components;
@tailwind utilities;

@page {
  size: A4;
  margin: 0;
}

.post-page {
  display: flex;
  flex-direction: column;
  width: 100%;

  & code {
    font-family: Menlo, Monaco, Courier New, monospace;
    font-size: 0.9em;
  }

  & p {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  & pre {
    max-width: 64rem;
    font-family: monospace;
    font-size: 14px;
    border-radius: 16px;
    padding: 16px;
    margin: 8px;
    line-height: 20px;
    overflow-x: auto;
  }

  & img {
    width: auto;
    @media (--mobile) {
      width: 100%;
    }
  }

  & .title-container {
    display: flex;
    flex: 1;
    font-family: serif;
    flex-direction: column;

    & h1 {
      color: var(--black-light);
      margin: 0;
      line-height: 3rem;
    }

    & h2 {
      color: var(--yellow-dark);
      font-size: 1.5rem;
      font-weight: 500;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    & h3 {
      color: var(--black-light);
      font-size: 1.5rem;
      font-weight: 500;
      margin: 0;
    }

    & .date {
      display: flex;
      flex: 1;
      flex-direction: row;
      justify-content: flex-end;
      margin-right: var(--space-10);

      @media (--mobile) {
        justify-content: flex-start;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
      }
    }
  }

  & .tags-container {
    margin-top: var(--space-1);
    margin-bottom: var(--space-1);

    @media (--mobile) {
      margin-top: var(--space-4);
      margin-bottom: var(--space-4);
    }
  }
}

.tag {
  background-color: var(--black-light);
  color: white;
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
  margin-right: 1rem;
}

html {
  --black: #000;
  --white: #fff;
  --beige: #f8f5ed;
  --green: #6ece9d;
  --yellow: #ffda6e;
  --orange: #f7a66b;
  --red: #e87b7b;
  --theme-light-color-primary: var(--black);
  --theme-light-color-background-primary: var(--beige);
  --theme-light-color-secondary: #707070;
  --theme-light-color-background-secondary: var(--white);
  --theme-light-color-button: var(--black);
  --theme-light-color-background-button: var(--green);
  --theme-light-color-accent: var(--green);
  --theme-light-color-green: var(--green);
  --theme-light-color-yellow: var(--yellow);
  --theme-light-color-orange: var(--orange);
  --theme-light-color-red: var(--red);
  --theme-light-color-background-elevation: rgba(0, 0, 0, 0.04);
  --theme-light-box-shadow-primary: 0px 4px 16px rgba(0, 0, 0, 0.1);
  --theme-light-box-shadow-secondary: none;
  --theme-dark-color-primary: var(--white);
  --theme-dark-color-background-primary: #0a0a0a;
  --theme-dark-color-secondary: #adadad;
  --theme-dark-color-background-secondary: #141414;
  --theme-dark-color-button: var(--black);
  --theme-dark-color-background-button: var(--green);
  --theme-dark-color-accent: var(--green);
  --theme-dark-color-green: var(--green);
  --theme-dark-color-yellow: var(--yellow);
  --theme-dark-color-orange: var(--orange);
  --theme-dark-color-red: var(--red);
  --theme-dark-color-background-elevation: rgba(255, 255, 255, 0.04);
  --theme-dark-box-shadow-primary: 0px 4px 16px rgba(0, 0, 0, 0.8);
  --theme-dark-box-shadow-secondary: none;
  --theme-border-radius-primary: 12px;
}

.theme-light {
  color-scheme: light;
  --color-primary: var(--theme-light-color-primary);
  --color-background-primary: var(--theme-light-color-background-primary);
  --color-secondary: var(--theme-light-color-secondary);
  --color-background-secondary: var(--theme-light-color-background-secondary);
  --color-button: var(--theme-light-color-button);
  --color-background-button: var(--theme-light-color-background-button);
  --color-accent: var(--theme-light-color-accent);
  --color-green: var(--theme-light-color-green);
  --color-yellow: var(--theme-light-color-yellow);
  --color-orange: var(--theme-light-color-orange);
  --color-red: var(--theme-light-color-red);
  --color-background-elevation: var(--theme-light-color-background-elevation);
  --box-shadow-primary: var(--theme-light-box-shadow-primary);
  --box-shadow-secondary: var(--theme-light-box-shadow-secondary);
  --border-radius-primary: var(--theme-border-radius-primary);
}

.theme-dark {
  color-scheme: dark;
  --color-primary: var(--theme-dark-color-primary);
  --color-background-primary: var(--theme-dark-color-background-primary);
  --color-secondary: var(--theme-dark-color-secondary);
  --color-background-secondary: var(--theme-dark-color-background-secondary);
  --color-button: var(--theme-dark-color-button);
  --color-background-button: var(--theme-dark-color-background-button);
  --color-accent: var(--theme-dark-color-accent);
  --color-green: var(--theme-dark-color-green);
  --color-yellow: var(--theme-dark-color-yellow);
  --color-orange: var(--theme-dark-color-orange);
  --color-red: var(--theme-dark-color-red);
  --color-background-elevation: var(--theme-dark-color-background-elevation);
  --box-shadow-primary: var(--theme-dark-box-shadow-primary);
  --box-shadow-secondary: var(--theme-dark-box-shadow-secondary);
  --border-radius-primary: var(--theme-border-radius-primary);
  --img-filter: saturate(0.8) brightness(1.2);
}

.charts {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 8px 0 16px;
  padding: 24px 24px 16px;
  background-color: var(--color-background-secondary);
  border-radius: var(--border-radius-primary);
  box-shadow: var(--box-shadow-secondary);
  cursor: default;
  transition: gap 0.2s ease, padding 0.2s ease;
}

.dashboard {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.charts .headline {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  flex-wrap: wrap;
}

.charts .headline .metrics {
  display: flex;
  flex-direction: row;
  gap: 6px;
  flex-wrap: wrap;
}

.charts .headline .metrics .metric {
  /* position:relative; */
  /* max-width:max-content; */
  padding: 13px 16px 10px;
  background-color: var(--color-background-secondary);
  border-radius: calc(var(--border-radius-primary) / 2);
  overflow: hidden;
}

.charts .headline .metrics .metric:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
  z-index: 1;
  transition: width 0.15s ease, background-color 0.1s ease, border-radius 0.1s;
}

.charts .headline .metrics .metric.clickable {
  cursor: pointer;
}

@media only screen and (min-width: 513px) {
  .charts .headline .metrics .metric.clickable:not(.active):hover {
    opacity: 0.8;
  }
}

.charts .headline .metrics .metric.active {
  background-color: var(--color-background-elevation);
}

.charts .headline .metrics .metric.active:before {
  width: 2px;
}

.charts .headline .metrics .metric.active.green:before {
  background-color: var(--color-green);
}

.charts .headline .metrics .metric.active.yellow:before {
  background-color: var(--color-yellow);
}

.charts .headline .metrics .metric.active.red:before {
  background-color: var(--color-red);
}

.charts .headline .metrics .metric.active h2 {
  color: var(--color-primary);
}

.charts .headline .metrics .metric > div {
  display: flex;
  align-items: center;
}

.charts .headline .metrics .metric h2 {
  margin: 0 6px 0 0;
  font-size: 18px;
  color: var(--color-secondary);
  white-space: nowrap;
}

.charts .headline .metrics .metric .sum {
  font-size: 28px;
  font-weight: 500;
  white-space: nowrap;
}

.charts .headline .metrics .metric .tooltip .pop-over {
  left: -128px;
  width: 168px;
}

.charts .headline .metrics .metric .tooltip .pop-over:before {
  left: 139px;
}

.charts .headline .action {
  position: absolute;
  right: 24px;
  bottom: 24px;
  height: 20px;
  width: 20px;
  padding: 0;
}

@media only screen and (min-width: 513px) {
  .charts .headline .action:hover {
    opacity: 0.8 !important;
    background-color: transparent;
  }
}

.charts .headline .action i {
  margin: 0;
  font-size: 20px;
}

@media only screen and (min-width: 769px) {
  .charts.hidden {
    gap: 0;
    padding: 12px 8px 9px;
  }
}

@media only screen and (max-width: 768px) {
  .charts {
    flex: 1;
    padding: 0;
  }

  .charts .headline {
    flex: 1;
    padding: 12px 12px 9px;
  }

  .charts .headline .metrics {
    display: grid;
    gap: 0;
    grid-template-columns: auto;
    flex: 1;
    padding: 0;
    overflow: hidden;
  }

  .charts .headline .metrics .metric {
    padding: 12px;
  }

  .charts .headline .metrics .metric:last-of-type {
    grid-column: 1/3;
  }

  .charts .headline .metrics .metric .sum {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media only screen and (max-width: 512px) {
  .charts .headline {
    padding: 8px;
  }

  .charts .headline .action {
    right: 20px;
    bottom: 20px;
  }
}

.chart {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  margin-left: -8px;
  background-color: transparent;
  border-radius: var(--border-radius-primary);
  cursor: default;
  overflow-x: auto;
}

.chart .chart-container {
  position: relative;
  height: 256px !important;
  max-height: 60vh;
  display: flex;
  flex-direction: column;
  padding: 0;
  border-bottom-right-radius: calc(var(--border-radius-primary) / 2);
  border-bottom-left-radius: calc(var(--border-radius-primary) / 2);
  overflow: hidden;
}

@media only screen and (max-width: 768px) {
  .chart .chart-container {
    width: 768px;
    padding-bottom: 12px;
  }
}

.cv-page {
  @apply text-lg;
  & b {
    font-weight: 600;
  }

  & ul {
    margin: 0.5rem;
    padding-left: 2rem;
    @media (--mobile) {
      margin: 0.5rem;
      padding-left: 1rem;
    }
  }

  & li {
    list-style-type: disc;
    list-style-position: outside;
  }

  & h3 {
    font-weight: 700;
    font-size: 1.2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  & h4 {
    font-weight: 500;
    margin-top: 0.5rem;
  }

  & h5 {
    margin-top: 0.5rem;
  }
}
